<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaPresentacion.Properties.Settings.VentasTOMASConnectionString"
            connectionString="Data Source=DESKTOP-TMO9LFM\SQLEXPRESS;Initial Catalog=VentasTOMAS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="VentasTOMASEntities" connectionString="metadata=res://*/MTodas.csdl|res://*/MTodas.ssdl|res://*/MTodas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TMO9LFM\SQLEXPRESS;initial catalog=VentasTOMAS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>